h1 {
    font-family: cursive;
    font-size: 45px;
    color: rgb(22, 21, 21);
    text-shadow: 2px 2px #FAF8F8;
    letter-spacing: 5px;
    }
    p{
        color: rgb(192, 20, 20);
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: capitalize;
        background-color: rgba(243, 239, 239, 0.925);
        letter-spacing: 5px;
    }
    ol{
        font-size: 32px;
        color: rgb(192, 20, 20);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: capitalize;
        box-shadow: 20px 20px 50px 10px rgba(249, 250, 249, 0.712) inset;
    }
    body{
        background-image: url("money.jpg");
    }
    li{
        font-size: 45px;
        text-shadow: 1px 1px #F5F3F3;
        color: rgb(17, 17, 17)  ;
        letter-spacing: 5px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
    
    
    
    
    
    
    